* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("images/17545.jpg");
    background-color: aliceblue;
    background-size: cover;
}

#login-form {
    border: 1px solid #ccc
}

/* Full-width input fields */
input[type=text], input[type=password], input[type=email] {
    width: 100%;
    padding: 8px 20px;
    margin: 10px 0 12px 0;
    display: inline-block;
    border: 2px solid black;
    box-sizing: border-box;
    height: 45px
}

form .user-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

    form .user-details .space {
        width: calc(100% / 2 - 20px);
    }

/* Set a style for all buttons */
button {
    background: linear-gradient(to left, #6699ff 0%, #ffffff 100%);
    color: black;
    padding: 8px 20px;
    margin: 8px 0;
    border: 2px solid black;
    cursor: pointer;
    width: 100%;
}

    button:hover {
        opacity: 0.8;
    }

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    display: block; /* Hidden by default */
    position: absolute; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}


/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }

    .cancelbtn {
        width: 100%;
    }
}

.modal form .error-msg {
    margin: 10px 0;
    display: block;
    background: crimson;
    color: #fff;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px;
}

.modal form .error-msg {
    margin: 10px 0;
    display: block;
    background: crimson;
    color: #fff;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px;
}

.container .content .btn {
    display: inline-block;
    padding: 10px 30px;
    font-size: 20px;
    background: #333;
    color: #fff;
    margin: 0 5px;
    text-transform: capitalize;
}